@{
    ViewBag.Title = "Acerca de...";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>



<div class="well well-lg">
   Trabajo practico correspondiente a la materia Programacion orientada por objetos avanzada c#
</div>
