@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Tu Credito</h1>
    <p>Prestamos al instante!, rapido, sencillo sin muchos tramites, TU CREDITO!</p>
    <a href="#" class="btn btn-primary btn-sm">Mas información</a>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Prestamos en 15 segundos</h2>
        <p>
            Los prestamos mas rapidos, en tan solo 15 segundos lo tenes aprobado!!
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Mas información&raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Creditos para Vehículos</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Mas información&raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Informconf?</h2>
        <p>Tranquilo, tu secreto esta a salvo con nostros, creditos sin mirar informconf!</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Mas información&raquo;</a></p>
    </div>
</div>