@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Tu Credito</h1>
    <p>Prestamos al instante!, rapido, sencillo sin muchos tramites, TU CREDITO!</p>
    <p>Sistema para el desembolso y cobro de creditos</p>
    <a href="#" class="btn btn-primary btn-sm">Mas información</a>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Prestamos en 15 segundos</h2>
        <p>
            Los prestamos mas rapidos, en tan solo 15 segundos lo tenes aprobado!!
        </p>
        <p><a class="btn btn-default" href="">Mas información&raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Creditos para Vehículos</h2>
        <p>Los mejores creditos para Vehiculos a las tasas mas bajas del mercado.</p>
        <p><a class="btn btn-default" href="">Mas información&raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Informconf?</h2>
        <p>Tranquilo, tu secreto esta a salvo con nostros, creditos sin mirar informconf!</p>
        <p><a class="btn btn-default" href="">Mas información&raquo;</a></p>
    </div>
</div>