
@{
    ViewBag.Title = "Nosotres";
}

<h2>Nosotres</h2>
<h3>@ViewBag.Message</h3>

<blockquote>
    <p>Systech es una empresa enfocada a dar soluciones de primera calidad a sus clientes, expertos en desarrollo web, servicios de infraestructura,
    soluciones de monitoreo y programacion de aplicaciones móviles</p>
   
</blockquote>

    <div class="container">
        <h2>Manuel González</h2>
        <p>Experto en soluciones de networking y telefonia IP, programador web en tiempos libres, aficionado al futbol y otaku en tiempos 
        libres, Manuel aporta un valor importante en la empresa al encargarse de todo lo referente a infraestructura tanto interna como externa de clientes. </p>
        <img src="imagenManu.JPG" class="img-circle" alt="imagenManu.JPG" width="304" height="236">
    </div>

    <div class="container">
        <h2>Juan López</h2>
        <p>
            Especialista en soluciones Frondend y Backend, Juan es nuestro programador ESTRELLA, aficionado a la música romántica y al club Cerro Porteño, Juan comenta que su lenguaje favorito es c#, modestia aparte, 
            es un experto en ello.
        </p>
        <img src="JuanImagen.JPG" class="img-circle" alt="JuanImagen.JPG" width="304" height="236">
    </div>

    <div class="container">
        <h2>Christian Vera</h2>
        <p>
            Cebador de terere nato, experto en diseño web y aplicaciones móviles, peleando por el título en Ciencias de la computación, le apasiona la investigación, 
            los viajes y también otaku en tiempos libres.
        </p>
        <img src="cveraImagen.JPG" class="img-circle" alt="cveraImagen.JPG" width="304" height="236">
    </div>